.gcloudignore
.git
.gitignore
.prettierignore
.prettierrc
/.nuxt/
/api
/assets
/components
/composables
/layouts
/node_modules
/pages
/plugins
/public
/store
/.editorconfig
/.eslintrc.js
/app.vue
/jsconfig.json
/nuxt.config.js
/package.json
/README.md
/tsconfig.json
/yarn-error.log
/yarn.lock

