.gcloudignore
.git
.gitignore
.prettierignore
.prettierrc
__pycache__/
/kosk_fe/.nuxt/
/kosk_fe/api
/kosk_fe/assets
/kosk_fe/components
/kosk_fe/composables
/kosk_fe/layouts
/kosk_fe/node_modules
/kosk_fe/pages
/kosk_fe/plugins
/kosk_fe/public
/kosk_fe/store
/kosk_fe/.editorconfig
/kosk_fe/.eslintrc.js
/kosk_fe/app.vue
/kosk_fe/jsconfig.json
/kosk_fe/nuxt.config.js
/kosk_fe/package.json
/kosk_fe/README.md
/kosk_fe/tsconfig.json
/kosk_fe/yarn-error.log
/kosk_fe/yarn.lock
